<div class="row" style="height:100vh;">
    <div class="col-2 p-0 m-0">
        {{>adminMenu}}
    </div>
    {{!-- --}}

    <div class="col-10 overflow-scroll" id="main">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-6 mt-4 mb-5 d-flex flex-row align-items-center px-5 mx-3" id="profile" style="">
                        <div class="mx-3">
                            <div class="img-holder" id="avatarbox"
                                style="background-image:url('../avatar/{{user.profile_pic}}');background-size:cover;background-position:50%">
                                {{!-- <img src="../avatar/{{profile_pic}}" alt="" id="profilee"> --}}
                                <div id="add-profile"
                                    class="d-flex flex-row text-center align-item-center justify-content-center" id=""
                                    style="">
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </div>

                        </div>
                        <div class="ml-2">
                            <p class="mb-0 mt-3 font-weight-bolder" style="font-size: .9vw;width:150px;">
                                {{user.fullname}}</p>
                            <p class="mt-2" style="font-size:.9vw;color:rgba(0, 0, 0, 0.7)">{{user.email}}
                            </p>
                        </div>
                        <div class="" id="" style="margin-left:70px;margin-top:100px;">
                            <form action="avatar" class="" id="upload_image" method="POST"
                                enctype="multipart/form-data">
                                {{!-- <button id="edit-btn" class="" type="submit">Edit data</button> --}}
                                <input id="file" type="file" name="picture" style="display: none;" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- --}}
        <div class="row">
            <div class="col-12 px-5">
                <div class="row">
                    <form action="profiledata" method="POST" enctype="application/json" style="width:100%">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true" style="color:#124814">BASIC
                                    INFORMATION</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false" style="color:#124814;">ADDITIONAL
                                    INFORMATION</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                {{!-- --}}
                                <div class="my-3">
                                    <label for="firstname" class="mr-5 profile-form-label font-weight-bold">First
                                        name:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="firstname" id="" placeholder="" style="border"
                                            value="{{user.firstname}}">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="lastname" class="mr-5 profile-form-label font-weight-bold">Last
                                        name:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="lastname" id="" placeholder="" value="{{user.lastname}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="email" class="mr-5 profile-form-label font-weight-bold">E-mail:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="email" id="" placeholder="" value="{{user.email}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="phone" class="mr-5 profile-form-label font-weight-bold">Phone:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="phone" id="" placeholder="" value="{{user.phone}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="gender" class="mr-5 profile-form-label font-weight-bold">Gender:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="gender" id="" placeholder="" value="{{user.gender}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="password"
                                        class="mr-5 profile-form-label font-weight-bold">Password:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="password" name="password" id="" placeholder="" style="border">
                                    </div>
                                </div>
                                {{!-- --}}
                                <div class="row m-0 d-flex justify-content-end mr-5 mt-5">
                                    <div class="col-6"></div>
                                    <div class="col-6">
                                        <button class="profile-button" type="submit">Save</button>

                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {{!-- --}}

                                {{!-- --}}
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="my-3">
                                    <label for="country"
                                        class="mr-5 profile-form-label font-weight-bold">Country:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="country" id="" placeholder="" value="{{user.country}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="state" class="mr-5 profile-form-label font-weight-bold">City:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="state" id="" placeholder="" value="{{user.state}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="lga" class="mr-5 profile-form-label font-weight-bold">Local
                                        govt:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="local_govt" id="" placeholder=""
                                            value="{{user.local_govt}}" style="border">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="address"
                                        class="mr-5 profile-form-label font-weight-bold">Address:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="address" id="" placeholder="" value="{{user.address}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="ward" class="mr-5 profile-form-label font-weight-bold">Ward:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="ward" id="" placeholder="" value="{{user.ward}}"
                                            style="border">
                                    </div>
                                </div>

                                <div class="">
                                    <label for="job_stat" class="mr-5 profile-form-label font-weight-bold">Employment
                                        stat:</label>
                                    <div class="d-inline">
                                        <input class="profile-input border-top-0 border-left-0 border-right-0"
                                            type="text" name="employment_status" id="" placeholder=""
                                            value="{{user.employment_status}}" style="border">
                                    </div>
                                </div>

                                <div class="row m-0 mr-5 mt-3">
                                    <div class="col-6"></div>
                                    <div class="col-6">
                                        <button class="profile-button" type="submit">Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const editProfile = document.getElementById("edit-btn")
    const avatarField = document.getElementById("file")
    const avatarbox = document.getElementById("avatarbox")
    const tab = document.getElementById("profile-tab")
    const tabContent = document.getElementById("profile")

    const uploadForm = document.getElementById("upload_image")

    avatarField.addEventListener("change", () => {
        uploadForm.submit()
    })
    //Opens the dialog to select avatar.
    avatarbox.addEventListener("click", () => {
        avatarField.click();
    })

    $('[data-toggle="tab"],[data-toggle="pill"]').click(function () {
        $(this).parent().children('.active[data-toggle="tab"],.active[data-toggle="pill"]').removeClass('active');
        $(this).addClass('active');
    });
</script>