<div class="row" style="height:100vh">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar">
        {{>adminMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden;">
        <div class="row ">
            <div class="col-12" style="">
                {{>adminTop}}
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row d-flex justify-content-between pb-5">
                    <div class="col-10 d-flex flex-row mt-4">
                        {{#if publishedEvents}}
                        {{#each publishedEvents}}
                        <div class="col-3 d-flex flex-row justify-content-center align-items-center px-0 " style="">

                            <div class="event-name mx-2 w-100 py-2 pl-1 pr-1 pb-5 d-flex flex-column">

                                <h3 class=" event-head pt-3 font-weight-bold text-center">
                                    {{!-- ENTREPRENEURSHIP SESSION --}}{{this.event_title}}</h3>
                                </h4>
                                <label class="event-label mx-auto">Event Manager:</label>
                                <div class="row pl-1 pr-4 event-managers">
                                    <div
                                        class="col-12 pr-0 d-flex flex-column justify-content-center align-items-center">
                                        <div class="name"
                                            style="background-image:url('../avatar/{{this.event_manager.profile_pic}}');background-repeat:no-repeat;">
                                        </div>
                                        <div class="">
                                            <p class="mb-0 mt-1" style="font-size:.7vw">
                                                {{this.event_manager.firstname}} {{this.event_manager.lastname}}</p>
                                        </div>
                                    </div>
                                    {{!-- --}}
                                </div>
                                {{!-- <label class="event-label ml-2 mt-3">Event Population:</label>
                                <div class="d-flex justify-content-center align-items-center">
                                    <svg width="74" height="86" viewBox="0 0 74 86" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.53009 69.9746C1.17009 71.2974 1.16261 73.4932 2.62656 74.7C7.0572 78.3525 12.2191 81.0931 17.8005 82.7399C24.5032 84.7176 31.6039 85.0569 38.4736 83.7278C45.3433 82.3986 51.77 79.442 57.1844 75.1199C62.5988 70.7978 66.8338 65.2436 69.5142 58.9493C72.1947 52.6549 73.2378 45.8147 72.5513 39.0345C71.8647 32.2544 69.4697 25.7435 65.5783 20.0787C61.6869 14.414 56.4193 9.7701 50.2421 6.55849C45.044 3.85597 39.3369 2.23781 33.4846 1.79272C31.6544 1.65352 30.1643 3.1546 30.1643 4.99007C30.1643 6.82554 31.6553 8.29787 33.4832 8.46361C38.2104 8.89223 42.8142 10.2334 47.0208 12.4205C52.2069 15.1168 56.6294 19.0156 59.8965 23.7715C63.1635 28.5274 65.1743 33.9937 65.7507 39.686C66.3271 45.3784 65.4513 51.1211 63.2009 56.4056C60.9505 61.6901 57.395 66.3532 52.8493 69.9819C48.3036 73.6105 42.908 76.0928 37.1405 77.2086C31.3729 78.3245 25.4115 78.0397 19.7842 76.3793C15.2179 75.032 10.9859 72.8126 7.33072 69.8626C5.91103 68.7168 3.83786 68.7025 2.53009 69.9746Z"
                                            fill="#124814" stroke="#124814" stroke-width="2.45464" />
                                    </svg>

                                </div> --}}
                            </div>
                            {{!-- <div class="progress"></div> --}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>

                    <div class="col-2 d-flex py-0 px-0 flex-column align-items-center mt-4" style="">
                        <div class="mr-2 w-100"
                            style="font-size:.7vw;cursor:pointer;width:60%px;background: #FAFFF9;box-shadow: 0px 2.72839px 27.966px -11.5957px rgba(18, 72, 20, 0.35);border-radius: 6.82099px;"
                            id="add-group-btn" onclick="window.location.href='addevents'">
                            <h3 class="font-weight-bold mx-1" style="font-size:1vw;">ADD EVENT</h3>
                            <p class="mx-1">Create new events and customize it with your priority</p>
                            <div class="d-flex flex-row align-items-center justify-content-around">
                                <div class="d-flex align-items-center justify-content-center" id="add-div">
                                    <svg class="ml-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.375 7.375H8.625V0.625C8.625 0.279813 8.34519 0 8 0C7.65481 0 7.375 0.279813 7.375 0.625V7.375H0.625C0.279813 7.375 0 7.65481 0 8C0 8.34519 0.279813 8.625 0.625 8.625H7.375V15.375C7.375 15.7202 7.65481 16 8 16C8.34519 16 8.625 15.7202 8.625 15.375V8.625H15.375C15.7202 8.625 16 8.34519 16 8C16 7.65481 15.7202 7.375 15.375 7.375Z"
                                            fill="#124814" />
                                    </svg>
                                </div>
                                <p class="font-weight-bold mt-3 mr-4">Create New Event</p>
                            </div>
                        </div>

                        <div class="my-0 mt-2 w-100">
                            <button class="show-more w-100" onclick="window.location.href='../event/viewevents'">
                                Show more
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{!-- WRITE HERE --}}

                    <table class="w-100 mx-4 my-0">
                        <tr>
                            <th class="p-0 text-center " style="height:50px;border:none">
                                <div class="d-flex justify-content-center">
                                    <div class="th-div font-weight-normal py-3" style="width:70%;height:100%;">
                                        UPCOMING
                                        EVENTS
                                    </div>
                                </div>
                            </th>
                            <th class="p-0 text-center " style="height:50px;border:none">
                                <div class="d-flex justify-content-center">
                                    <div class="th-div font-weight-normal py-3" style="width:70%;height:100%;">
                                        DATE
                                    </div>
                                </div>
                            </th>
                            <th class="p-0 text-center  " style="height:50px;border:none">
                                <div class="d-flex justify-content-center">
                                    <div class="th-div font-weight-normal py-3" style="width:70%;height:100%;">
                                        MANAGER
                                    </div>
                                </div>
                            </th>
                            <th class="p-0 text-center " style="height:50px;border:none">
                                <div class="th-div font-weight-normal py-3" style="width:70%;height:100%;">ACTIONS
                                </div>
                            </th>
                        </tr>
                        {{#if events}}
                        {{#each events}}
                        <tr>
                            <form action="delete" method="post" style="display:none"
                                id="{{this.event_title}}-delete_form">
                                <input type="text" name="event_title" id="" value="{{this.event_title}}"
                                    style="display:none">
                                <input type="text" name="event_title" id="" value="{{this.event_title}}"
                                    style="display:none">
                            </form>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter-{{this.event_title}}" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Update Event</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="update" method="post" id="{{this.event_title}}-update_form">
                                                <input type="text" name="old_title" id="" value="{{this.event_title}}"
                                                    style="display:none;">
                                                <div class="mx-5 px-2 my-3">
                                                    <label for="event_title" class="">Event Title</label>
                                                    <input class="form-control" type="text" name="event_title" id=""
                                                        autocomplete="off" value="{{this.event_title}}" required>
                                                </div>
                                                {{!-- --}}
                                                <div class="mx-5 px-2 my-3">
                                                    <label for="event_description" class="">Description</label>
                                                    <textarea class="form-control" name="event_description" id=""
                                                        cols="30" rows="5" style="resize: none;"
                                                        value="{{this.event_description}}" required></textarea>
                                                </div>
                                                {{!-- --}}
                                                <div class="mx-5 px-2 my-3">
                                                    <label for="event-manager" class="">Event Manager</label>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input list="event_manager" name="event_manager"
                                                                class="form-control"
                                                                value="{{this.event_manager.firstname}} {{this.event_manager.lastname}} ({{this.event_manager.email}})">
                                                            <datalist id="event_manager">
                                                                {{#if users}}
                                                                {{#each users}}
                                                                <option value="{{this}}"></option>
                                                                {{/each}}
                                                                {{/if}}
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- --}}
                                                <div class="mx-5 px-2 my-3">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="start-date" class="">Start date</label>
                                                            <input class="form-control" type="date" name="start_date"
                                                                id="" value="{{this.start_date}}" required>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="end-date" class="">End date</label>
                                                            <input class="form-control" type="date" name="end_date"
                                                                id="" value="{{this.end_date}}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- --}}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <td class="text-center py-3" id="{{this.event_title}}">{{this.event_title}}</td>
                            <td class="text-center py-3" id="">{{this.date}}</td>
                            <td class="text-center py-3" id="">{{this.event_manager.firstname}}
                                {{this.event_manager.lastname}}</td>
                            <td class=>
                                <!--Delete Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to delete?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                    onclick="document.getElementById('{{this.event_title}}-delete_form').submit()">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="event-update-btn" data-toggle="modal"
                                    data-target="#exampleModalCenter-{{this.event_title}}">Update</button>
                                <button type="submit" class="event-delete-btn text-center" id="{{this.event_title}}-id"
                                    onclick="" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                {{!-- <button type="submit" class="event-delete-btn text-center">Delete</button> --}}
                            </td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="row my-4">
                    <div class="col-11 schedule pb-3" style="border:solid 1px black">
                        <div class="row p-3  schedule">
                            {{!-- CONTINUE HERE TOMORROW --}}
                            <h3 class="schedule font-weight-bold">Today's schedule</h3>
                        </div>
                        {{#if schedule}}
                        {{#each schedule}}
                        <div class="row schedule mt-2">
                            <div class="col-3 schedule">
                                <div class="d-flex justify-content-center align-items-center"
                                    style="background-color:#fff;border:solid 1px;width:3vw;height:3vw;border-radius:50%;">
                                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M15.1584 4.23285C15.1584 6.58254 13.2852 8.4666 10.9491 8.4666C8.61303 8.4666 6.73984 6.58254 6.73984 4.23285C6.73984 1.88227 8.61303 0 10.9491 0C13.2852 0 15.1584 1.88227 15.1584 4.23285ZM10.949 16C7.51785 16 4.58809 15.456 4.58809 13.2802C4.58809 11.1034 7.49904 10.5396 10.949 10.5396C14.3802 10.5396 17.31 11.0836 17.31 13.2604C17.31 15.4362 14.399 16 10.949 16ZM16.9572 4.30922C16.9572 5.50703 16.5999 6.62288 15.9732 7.55051C15.9087 7.64597 15.966 7.77476 16.0797 7.79457C16.2364 7.82159 16.3985 7.8369 16.5632 7.8414C18.2063 7.88463 19.681 6.82102 20.0884 5.21974C20.6919 2.84123 18.9199 0.705895 16.6635 0.705895C16.4182 0.705895 16.1836 0.732013 15.9552 0.778844C15.9239 0.786049 15.8908 0.800459 15.8729 0.828377C15.8514 0.862601 15.8675 0.908531 15.889 0.938251C16.5668 1.8938 16.9572 3.05918 16.9572 4.30922ZM19.6784 9.51257C20.7825 9.72962 21.5086 10.1727 21.8095 10.8166C22.0638 11.3453 22.0638 11.9586 21.8095 12.4864C21.3493 13.4851 19.8656 13.8058 19.2889 13.8886C19.1699 13.9066 19.074 13.8031 19.0866 13.6833C19.3812 10.9157 17.0379 9.60353 16.4317 9.30183C16.4057 9.28832 16.4004 9.2676 16.4031 9.255C16.4049 9.24599 16.4156 9.23158 16.4353 9.22888C17.7471 9.20456 19.1573 9.38468 19.6784 9.51257ZM5.43699 7.84131C5.60175 7.83681 5.76292 7.8224 5.92051 7.79448C6.03423 7.77467 6.09153 7.64588 6.02706 7.55042C5.40028 6.62279 5.04302 5.50694 5.04302 4.30913C5.04302 3.05909 5.43341 1.89371 6.11123 0.938161C6.13272 0.908441 6.14794 0.86251 6.12735 0.828287C6.10944 0.801269 6.07541 0.785958 6.04497 0.778754C5.81575 0.731922 5.58115 0.705804 5.33581 0.705804C3.0794 0.705804 1.3074 2.84114 1.91179 5.21965C2.3192 6.82093 3.79393 7.88454 5.43699 7.84131ZM5.59694 9.25445C5.59962 9.26796 5.59425 9.28778 5.56918 9.30219C4.9621 9.60389 2.61883 10.9161 2.91342 13.6827C2.92595 13.8034 2.83104 13.9061 2.71195 13.889C2.13531 13.8061 0.651629 13.4855 0.191392 12.4867C-0.0637974 11.9581 -0.0637974 11.3457 0.191392 10.817C0.492248 10.1731 1.21752 9.72997 2.32156 9.51203C2.84358 9.38504 4.25294 9.20492 5.5656 9.22924C5.5853 9.23194 5.59515 9.24635 5.59694 9.25445Z"
                                            fill="#124814" />
                                    </svg>

                                </div>
                            </div>
                            <div class="col-8 schedule">
                                <p class="m-0 p-0" style="font-size: 1vw;">{{this.group}} </p>
                                <span class="time-schedule m-0 p-0">{{this.start_time}} - {{this.end_time}} on
                                    ZOOM</span>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    /*const deletebtn = document.getElementById(`${document.getElementById("test").value}-id`)
    deletebtn.addEventListener('click', () => {
        const option = confirm("Are you sure you want to delete Event?")
        if (option === true) {
document.getElementById('{{this.event_title}}-delete_form').submit()
} else {

}
})*/
</script>