<div class="row" style="height:100vh;">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar">
        {{>adminMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden">
        <div class="row" #>
            <div class="col-12">
                {{>adminTop}}
            </div>
        </div>
        <div class="row">
            <div class="col-9 mt-3">
                <div class="row justify-content-between px-4">
                    <p class="categories ml-2">Causes</p>
                    <button class="see-all" onclick="window.location.href='../cause/viewcauses';">See all</button>
                </div>
                <div class="category-options d-flex flex-row my-3">
                    {{!-- <div class=""> --}}
                        {{#if causes.docs}}
                        {{#each causes.docs}}
                        <div class=" cat p-3  mx-2 d-flex flex-column align-items-center">
                            <svg width="69" height="69" viewBox="0 0 69 69" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M67.4419 53.6419C68.4469 52.3031 69 50.6438 69 48.9677V34.5C69 32.6593 67.502 31.1613 65.6613 31.1613C65.2217 31.1613 64.8044 31.2514 64.4193 31.4061C64.0353 29.9872 62.7488 28.9355 61.2097 28.9355C60.3516 28.9355 59.5759 29.2705 58.9839 29.8035C58.3918 29.2694 57.6161 28.9355 56.7581 28.9355C56.3663 28.9355 55.9946 29.0156 55.6452 29.1403V24.12C56.048 23.9385 56.4988 23.7149 56.9573 23.4789L59.577 24.9724L63.9252 20.6232L62.4216 17.9912C62.5374 17.7397 62.6442 17.4848 62.7399 17.2289L65.6613 16.4298V10.2799L62.7399 9.48082C62.6442 9.22486 62.5374 8.97 62.4216 8.71848L63.9252 6.08647L59.577 1.73724L56.9428 3.23966C56.6902 3.12392 56.4364 3.01708 56.1816 2.92137L55.3825 0H49.2315L48.4324 2.92137C48.1776 3.01708 47.9227 3.12281 47.6701 3.23966L45.037 1.73724L40.6889 6.08647L42.1924 8.71848C42.0766 8.97 41.9698 9.22486 41.8741 9.48082L38.9516 10.2799V12.2419H32.2742C30.4335 12.2419 28.9355 13.7399 28.9355 15.5806V17.8721C28.5693 17.8309 28.1987 17.8065 27.8226 17.8065C27.4464 17.8065 27.0758 17.8309 26.7097 17.8721V12.2419C26.7097 10.4012 25.2117 8.90323 23.371 8.90323H19.9666C19.4113 3.90295 15.1633 0 10.0161 0C4.49279 0 0 4.4939 0 10.0161C0 15.5384 4.49279 20.0323 10.0161 20.0323C15.1633 20.0323 19.4113 16.1293 19.9666 11.129H23.371C23.9853 11.129 24.4839 11.6287 24.4839 12.2419V18.3907C22.4372 19.1175 20.6911 20.483 19.5003 22.2581H5.56452C2.49624 22.2581 0 24.7543 0 27.8226V50.0806C0 53.1489 2.49624 55.6452 5.56452 55.6452H14.4677V57.871H13.3548C10.8998 57.871 8.90323 59.8675 8.90323 62.3226C8.90323 63.5501 9.9015 64.5484 11.129 64.5484H35.6129C36.8404 64.5484 37.8387 63.5501 37.8387 62.3226C37.8387 59.8675 35.8422 57.871 33.3871 57.871H32.2742V55.6452H41.1774C42.5407 55.6452 43.8261 55.1288 44.8244 54.2474L45.629 55.9011V57.871H43.4032V69H67.8871V57.871H65.6613V56.0158L67.4419 53.6419ZM5.20616 16.1326C6.19219 14.4243 8.004 13.3548 10.0161 13.3548C12.0283 13.3548 13.8401 14.4243 14.8261 16.1326C13.4995 17.1777 11.8313 17.8065 10.0161 17.8065C8.20098 17.8065 6.53274 17.1777 5.20616 16.1326ZM7.79032 8.90323C7.79032 7.67569 8.7886 6.67742 10.0161 6.67742C11.2437 6.67742 12.2419 7.67569 12.2419 8.90323C12.2419 10.1308 11.2437 11.129 10.0161 11.129C8.7886 11.129 7.79032 10.1308 7.79032 8.90323ZM16.392 14.4789C15.604 13.3426 14.5501 12.4378 13.317 11.8624C14.0248 11.0745 14.4677 10.044 14.4677 8.90323C14.4677 6.44816 12.4712 4.45161 10.0161 4.45161C7.56106 4.45161 5.56452 6.44816 5.56452 8.90323C5.56452 10.044 6.00745 11.0745 6.71526 11.8624C5.48216 12.4378 4.42824 13.3426 3.64031 14.4789C2.75221 13.2135 2.22581 11.6766 2.22581 10.0161C2.22581 5.72032 5.72144 2.22581 10.0161 2.22581C14.3108 2.22581 17.8065 5.72032 17.8065 10.0161C17.8065 11.6766 17.28 13.2135 16.392 14.4789ZM38.3128 35.5005L39.458 37.2188C39.724 37.6184 39.9243 38.0602 40.0645 38.5198V48.9677H6.67742V28.9355H17.8721C18.4275 33.9358 22.6754 37.8387 27.8226 37.8387C32.9698 37.8387 37.2177 33.9358 37.7731 28.9355H40.0645V31.1802C38.7947 31.4551 37.8387 32.5847 37.8387 33.9358C37.8387 34.4944 38.0023 35.0353 38.3128 35.5005ZM25.5968 26.7097C25.5968 25.4821 26.595 24.4839 27.8226 24.4839C29.0501 24.4839 30.0484 25.4821 30.0484 26.7097C30.0484 27.9372 29.0501 28.9355 27.8226 28.9355C26.595 28.9355 25.5968 27.9372 25.5968 26.7097ZM27.8226 31.1613C29.8347 31.1613 31.6465 32.2308 32.6325 33.9391C31.306 34.9841 29.6377 35.6129 27.8226 35.6129C26.0074 35.6129 24.3392 34.9841 23.0126 33.9391C23.9986 32.2308 25.8105 31.1613 27.8226 31.1613ZM40.0645 26.7097H37.7731C37.6874 25.9373 37.506 25.1939 37.2544 24.4839H41.1774C43.0182 24.4839 44.5161 25.9818 44.5161 27.8226V32.2709C43.8384 31.8357 43.0905 31.5152 42.2903 31.3271V28.9355C42.2903 27.708 41.292 26.7097 40.0645 26.7097ZM45.6947 24.5974L47.6567 23.4789C48.103 23.7104 48.5593 23.9352 48.9689 24.12V40.0801C48.9689 40.5865 48.852 41.094 48.6283 41.548L47.6946 36.8805C47.521 36.0158 47.1882 35.2156 46.7408 34.5H46.7419V27.8226C46.7419 26.6184 46.348 25.5089 45.6947 24.5974ZM49.6522 16.9161C48.5404 16.0881 47.8548 14.7827 47.8548 13.3548C47.8548 10.8998 49.8514 8.90323 52.3065 8.90323C54.7615 8.90323 56.7581 10.8998 56.7581 13.3548C56.7581 14.7849 56.0725 16.0892 54.9607 16.9172C54.3509 16.1104 53.3938 15.5806 52.3065 15.5806C51.2203 15.5806 50.2621 16.1104 49.6522 16.9161ZM41.1774 11.9782L43.618 11.3104L43.7972 10.7262C43.9575 10.2109 44.1711 9.69784 44.4338 9.2026L44.7209 8.66173L43.4633 6.45929L45.4098 4.51171L47.6122 5.76818L48.1531 5.48216C48.6506 5.2184 49.1636 5.00473 49.6778 4.84669L50.2609 4.6664L50.9309 2.22581H53.6831L54.352 4.6664L54.9351 4.84669C55.446 5.00473 55.9601 5.2184 56.4609 5.48327L57.0007 5.76818L59.2031 4.51171L61.1496 6.45929L59.892 8.66173L60.1791 9.2026C60.4418 9.69784 60.6566 10.2109 60.8157 10.7262L60.9949 11.3104L63.4355 11.9782V14.7315L60.9949 15.3992L60.8157 15.9835C60.6555 16.4988 60.4418 17.0118 60.1791 17.5071L59.892 18.048L61.1496 20.2504L59.2031 22.198L57.0007 20.9415L56.4609 21.2264C56.1616 21.3844 55.8911 21.5247 55.6463 21.6493V19.1275C57.694 17.9445 58.985 15.7643 58.985 13.3548C58.985 9.67224 55.9902 6.67742 52.3076 6.67742C48.625 6.67742 45.6301 9.67224 45.6301 13.3548C45.6301 15.762 46.9211 17.9433 48.9689 19.1275V21.6493C48.7318 21.5291 48.4669 21.3922 48.1553 21.2275L47.6145 20.9415L45.412 22.198L43.4655 20.2504L44.7231 18.048L44.436 17.5071C44.1734 17.0118 43.9586 16.4988 43.7994 15.9835L43.6202 15.3992L41.1774 14.7315V11.9782ZM31.1613 15.5806C31.1613 14.9674 31.6599 14.4677 32.2742 14.4677H38.9516V16.4298L41.873 17.2289C41.9687 17.4848 42.0755 17.7397 42.1913 17.9912L40.6877 20.6232L42.4984 22.4339C42.0733 22.3293 41.6348 22.2581 41.1774 22.2581H36.1449C34.9541 20.483 33.2079 19.1175 31.1613 18.3907V15.5806ZM27.8226 20.0323C32.1173 20.0323 35.6129 23.5268 35.6129 27.8226C35.6129 29.483 35.0865 31.02 34.1984 32.2853C33.4105 31.149 32.3565 30.2443 31.1235 29.6689C31.8313 28.881 32.2742 27.8504 32.2742 26.7097C32.2742 24.2546 30.2776 22.2581 27.8226 22.2581C25.3675 22.2581 23.371 24.2546 23.371 26.7097C23.371 27.8504 23.8139 28.881 24.5217 29.6689C23.2886 30.2443 22.2347 31.149 21.4468 32.2853C20.5587 31.02 20.0323 29.483 20.0323 27.8226C20.0323 23.5268 23.5279 20.0323 27.8226 20.0323ZM35.6129 62.3226L11.129 62.3248V62.3226C11.129 61.0951 12.1273 60.0968 13.3548 60.0968H33.3871C34.6146 60.0968 35.6129 61.0951 35.6129 62.3226ZM30.0484 57.871H16.6935V55.6452H30.0484V57.871ZM41.1774 53.4194H5.56452C3.72377 53.4194 2.22581 51.9214 2.22581 50.0806V27.8226C2.22581 25.9818 3.72377 24.4839 5.56452 24.4839H18.3907C18.1381 25.1939 17.9578 25.9373 17.8721 26.7097H6.67742C5.44989 26.7097 4.45161 27.708 4.45161 28.9355V48.9677C4.45161 50.1953 5.44989 51.1936 6.67742 51.1936H40.0645C41.272 51.1936 42.2536 50.2253 42.2848 49.0245L43.7783 52.0961C43.1506 52.9108 42.2069 53.4194 41.1774 53.4194ZM65.6613 66.7742H45.629V60.0968H65.6613V66.7742ZM47.8548 57.871V55.3892L43.9196 47.3017C43.5524 46.6618 43.3209 45.9662 43.2296 45.2328L42.4595 39.074C42.3226 37.9756 41.9264 36.9072 41.311 35.9857L40.1647 34.2663C40.099 34.1684 40.0645 34.0537 40.0645 33.9358C40.0645 33.6075 40.3316 33.3404 40.6599 33.3404C43.0093 33.3404 45.0492 35.013 45.5111 37.3168L46.9423 44.4694H49.6555L50.6059 42.5674C50.9899 41.7995 51.1936 40.9381 51.1936 40.0801V18.9194C51.1936 18.3061 51.6921 17.8065 52.3065 17.8065C52.9208 17.8065 53.4194 18.3061 53.4194 18.9194V32.2742V36.7258H55.6452V32.2742C55.6452 31.661 56.1437 31.1613 56.7581 31.1613C57.3724 31.1613 57.871 31.661 57.871 32.2742V36.7258H60.0968V32.2742C60.0968 31.661 60.5954 31.1613 61.2097 31.1613C61.824 31.1613 62.3226 31.661 62.3226 32.2742V34.5V36.7258H64.5484V34.5C64.5484 33.8868 65.047 33.3871 65.6613 33.3871C66.2756 33.3871 66.7742 33.8868 66.7742 34.5V48.9677C66.7742 50.1641 66.3791 51.3505 65.6613 52.3065L63.4355 55.2746V57.871H47.8548Z"
                                    fill="#124814" />
                                <path
                                    d="M33.3862 40.0645H31.1604V44.5161H28.9346V42.2903H26.7088V44.5161H24.483V40.0645H22.2572V44.5161H20.0314V35.6129H17.8056V44.5161H15.5798V33.3871H13.354V44.5161H11.1282V31.1613H8.90234V46.7419H35.612V44.5161H33.3862V40.0645Z"
                                    fill="#124814" />
                            </svg>
                            <p class="my-2" style="font-size:1vw;color:#000;">{{this.name}}</p>
                            <p class="wrap-text" style="font-size:.8vw;">{{this.description}}</p>
                            <button type="submit" class="fund-btn m-2" id="{{this.name}}"
                                onclick="window.location.href='payment?id={{this._id}}'">Fund</button>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="d-flex flex-column justify-content-center align-item-center w-100">
                            <p class="text-center font-italic">No cause to be funded yet...</p>
                        </div>
                        {{/if}}
                        {{!-- --}}
                    </div>
                </div>
                <div class="col-3 mt-5">
                    {{>right}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <p class="">Recently funded</p>
                    <div class="row">
                        <div class="col-10 mb-3">
                            <div class="row px-2">
                                {{#if payment}}
                                {{#each payment}}

                                <div class="col-3 ">
                                    <div class="px-0 org-div pb-2 " style="">
                                        <div class="organisation-img mb-3"
                                            style="background-image:url('../../cause/{{this.image}}');background-size:contain;background-repeat:no-repeat;background-position:50%;height:150px;">

                                        </div>
                                        <h3 class="font-weight-bold m-2 " style="font-size:1vw;">
                                            {{this.name}}
                                        </h3>
                                        <p class="m-2 text-truncate"
                                            style="color:rgba(18, 72, 20, 0.5);font-size:.8vw;">
                                            {{this.description}}</p>
                                        {{!-- <div class="">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h4 class="m-2 font-weight-bold" style="font-size:1vw;">Funds raised
                                                </h4>
                                                <p class="mt-3 mr-3" style="font-size:1vw;">65%</p>
                                            </div>
                                            <div class="mx-2"
                                                style="height:5px;border-radius:16px;background-color:#EFEFFA;">
                                                <div class=""
                                                    style="width:65%;height:5px;background-color:#34CF4D;border-radius:16px;">
                                                </div>
                                            </div>
                                        </div> --}}
                                    </div>
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="d-flex flex-column justify-content-center align-item-center w-100">
                                    <p class="text-center font-italic">No cause has been funded yet...</p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>