<div class="row" style="height:100vh">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar" style="border:solid 1px black">
        {{>adminMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden;">
        <div class="row ">
            <div class="col-12" style="">
                {{>adminTop}}
            </div>
        </div>
        <div class="row px-4 pl-4 d-flex justify-content-center align-items-center" style="margin-top: auto;">


            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            <div class=" row w-100" id="view-info">
                <div class="col-4">

                    <div class="my-4 admin-view-img" style="background-image:url('../avatar/{{member.profile_pic}}');">
                        {{!-- <img src='../avatar/{{member.profile_pic}}' alt="" class="w-100 h-100"
                            style="border-radius: 10px;"> --}}
                    </div>
                    <div class="">
                        <label for="">Employment Status</label> <br>
                        <input class="form-control" type="text" name="" id="" value="{{member.employment_status}}"
                            style="font-size: 1vw;" disabled>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row mt-3">

                        <div class="col-6">
                            <label for="firstname">First Name</label> <br>
                            <input class="form-control" type="text" name="firstname" id="" value="{{member.firstname}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                        <div class="col-6">
                            <label for="lastname">Lastname</label> <br>
                            <input class="form-control" type="text" name="lastname" id="" value="{{member.lastname}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-6">
                            <label for="email">Email Address</label> <br>
                            <input class="form-control" type="text" name="email" id="" value="{{member.email}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                        <div class="col-6">
                            <label for="phone">Phone Number</label> <br>
                            <input class="form-control" type="text" name="phone" id="" value="{{member.phone}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="gender">Gender</label> <br>
                            <input class="form-control" type="text" name="gender" id="" value="{{member.gender}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                        <div class="col-6">
                            <label for="country">Country</label> <br>
                            <input class="form-control" type="text" name="country" id="" value="{{member.country}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="address">Address</label> <br>
                            <input class="form-control" type="text" name="address" id="" value="{{member.address}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                        <div class="col-6">
                            <label for="state">City</label> <br>
                            <input class="form-control" type="text" name="state" id="" value="{{member.state}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                    </div>

                    {{#if memberGroups}}
                    {{#each memberGroups}}
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="group">Group</label> <br>
                            <input class="form-control" type="text" name="group" id="" value="{{this.group_id.name}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                        <div class="col-6">
                            <label for="position">Position</label> <br>
                            <input class="form-control" type="text" name="position" id="" value="{{this.position}}"
                                style="font-size: 1vw;" disabled>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{!-- <div class=""> --}}
                        <div class="row mt-4 d-flex justify-content-end" style="">
                            <button class="mr-3 btn" type="button" onclick="history.back()" class="btn btn-green"
                                style="margin-left:50vw;width:20vw">Back</button>
                        </div>
                        {{!--
                    </div> --}}

                </div>
                {{!-- <div class="col-4" style="border:solid 1px red">
                    <div class="">
                        <label for="lastname">Last Name</label> <br>
                        <input class="form-control" type="text" name="lastname" id="">
                    </div>
                    <div class="">
                        <label for="phone">Phone Number</label> <br>
                        <input class="form-control" type="text" name="" id="">
                    </div>
                    <div class="">
                        <label for="address">Address</label> <br>
                        <input class="form-control" type="text" name="" id="">
                    </div>
                    <div class="">
                        <label for="localgovt">Local Govt</label> <br>
                        <input class="form-control" type="text" name="" id="">
                    </div>
                    <div class="">
                        <label for="position">Position</label> <br>
                        <input class="form-control" type="text" name="" id="">
                    </div>
                </div> --}}
            </div>

        </div>
    </div>
</div>