<div class="row" style="height:100vh">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar" style="border:solid 1px black">
        {{>adminMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden;">
        <div class="row ">
            <div class="col-12" style="">
                {{>adminTop}}
            </div>
        </div>
        <div class="row px-4 pl-4">


            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            <div class="col-12 m-0 p-0 w-100" id="{{!-- form-add --}}" style="background:#FAFFF9;">
                <p class="" id="">Showing results {{members.pagingCounter}} - {{#estimate estimate
                    members.totalDocs}}{{/estimate}} of {{members.totalDocs}}
                </p>
                <div class="card d-flex flex-row w-100 member-card-header" style="">

                    <ul class="list-group list-group-flush d-flex flex-row  w-100 h-100" style="border:none;">
                        {{!-- <li class="list-group-item text-center px-1 m-0" style="width:10%">FirstName</li> --}}
                        <li class="list-group-item text-center px-0 m-0" style="width:10%;border:none;">FirstName</li>
                        <li class="list-group-item text-center px-0 m-o" style="width:10%;border:none;">LastName</li>
                        <li class="list-group-item text-center px-0" style="width:30%;border:none;">EmailAddress</li>
                        <li class="list-group-item text-center px-0" style="width:13%;border:none;">Phone</li>
                        <li class="list-group-item text-center px-0" style="width:29%;border:none;">Location</li>
                        <li class="list-group-item text-center px-0"
                            style="width:8%;border:none;float:right;clear:both">View</li>
                    </ul>
                </div>
                {{#if members}}
                {{#each members.docs}}
                <div class="card d-flex flex-row align-items-center w-100 mt-2 member-card pl-2" style="">
                    {{!-- <div class="member-card-header"
                        style="background-image: url('../avatar/{{this.profile_pic}}');">

                    </div> --}}
                    {{!-- <div class="member-card-image"
                        style="width:3vw;height:3vw;background-image: url('../avatar/{{this.profile_pic}}')">

                    </div> --}}
                    <ul class="list-group list-group-flush d-flex flex-row w-100">
                        {{!-- <li class="list-group-item text-center px-1" style="width:10%;border:none">
                            {{this.profile_pic}} --}}
                        <li class="list-group-item text-center px-0" style="width:10%;border:none">{{this.firstname}}
                        </li>
                        <li class="list-group-item text-center px-0" style="width:10%;border:none;">{{this.lastname}}
                        </li>
                        <li class="list-group-item text-center px-0" style="width:30%;border:none;">{{this.email}}</li>
                        <li class="list-group-item text-center px-0 " style="width:13%;border:none;">{{this.phone}}</li>
                        <li class="list-group-item text-center px-0 " style="width:28%;border:none;">{{this.address}}
                        </li>
                        <li class="list-group-item text-center px-0" style="width: 9%;border:none;">
                            <form action="viewUser" method="get" id="viewForm">
                                <input type="text" name="" id="" value="{{this._id}}" style="display: none;">
                            </form>
                            <button type="button" class="btn btn-primary" id="{{this._id}}"
                                onclick='window.location.href="/users/viewUser?id={{this._id}}"'>
                                View
                            </button>
                        </li>
                    </ul>
                </div>
                {{/each}}
                {{/if}}

                <nav aria-label="..." class="mt-3">
                    <ul class="pagination pagination-sm justify-content-center">
                        {{#previous members.page}}
                        <li class="page-item disabled">
                            <a class="page-link" href="/users/members?limit={{members.limit}}&page={{members.prevPage}}"
                                tabindex="-1">Previous</a>
                        </li>
                        {{else}}
                        <li class="page-item">
                            <a class="page-link" href="/users/members?limit={{members.limit}}&page={{members.prevPage}}"
                                tabindex="-1">Previous</a>
                        </li>
                        {{/previous}}


                        {{#if members}}
                        {{#loop 1 members.totalPages 1}}
                        <li class="page-item"><a class="page-link"
                                href="/users/members?limit={{members.limit}}&page={{this}}">{{this}}
                            </a>
                        </li>
                        {{/loop}}

                        {{#next members.hasNextPage}}
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="../users/members?limit={{members.limit}}&page={{members.nextPage}}">Next</a>
                        </li>
                        {{else}}
                        <li class="page-item ">
                            <a class="page-link"
                                href="../users/members?limit={{members.limit}}&page={{members.nextPage}}">Next</a>
                        </li>
                        {{/next}}
                        {{!-- {{/if}} --}}
                        {{/if}}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>