<div class="row" style="height:100vh">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar" style="border:solid 1px black">
        {{>userMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden;">
        <div class="row ">
            <div class="col-12" style="">
                {{>topnav}}
            </div>
        </div>
        <div class="row px-4 pl-4">
            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            {{#if usersgroup}}
            <div class="col-12 m-0 p-0 w-100" id="{{!-- form-add --}}" style="background:#FAFFF9;">
                <p class="" id="">Showing results {{usersgroup.pagingCounter}} - {{#estimate estimate
                    usersgroup.totalDocs}}{{/estimate}} of {{usersgroup.totalDocs}}
                </p>
                <table id="members-list">
                    <tr>
                        <th class="text-center" style="width:10%">Group Name</th>
                        <th class="text-center" style="width:40%">Group Description</th>
                        <th class="text-center" style="width:15%">Group Leader</th>
                        <th class="text-center" style="width:15%">Group Secretary</th>
                        <th class="text-center" style="width:15%">ACTION</th>
                    </tr>

                    {{#each usersgroup.docs}}

                    <tr>
                        <td>{{this.group_id.name}}</td>
                        <td>{{this.group_id.description}}</td>
                        <td>{{this.group_id.leader.firstname}} {{this.group_id.leader.lastname}}</td>
                        <td>{{this.group_id.secretary.firstname}} {{this.group_id.secretary.lastname}}</td>
                        <td>
                            <!-- Button trigger modal -->
                            {{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#groupjoinrequest" style="font-size:1vw">
                                Request to join
                            </button> --}}
                            {{#ifequals this.approved true}}
                            <button type="button" class="btn btn-primary" id="{{this.approved}}"
                                onclick="window.location.href='./view-group-info?id={{this._id}}'">View</button>
                            {{else}}
                            <button type="button" class="btn btn-primary " id="{{this.approved}}"
                                onclick="window.location.href='./view-group-info?id={{this._id}}'">Pending
                                Approval</button>
                            {{/ifequals}}


                            <!-- Modal -->
                            <div class="modal fade" id="groupjoinrequest" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Confirm request to join
                                                group</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to send request?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-primary"
                                                onclick="window.location.href='./join?id={{this.name}}'">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>


                    {{/each}}

                </table>
                {{!-- <table id="usersgroup-list">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email Address</th>
                        <th>Phone number</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                    {{#if usersgroup}}
                    {{#each usersgroup.docs}}
                    <tr>
                        <td>{{this.firstname}}</td>
                        <td>{{this.lastname}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.address}}</td>
                        <td>
                            <form action="viewUser" method="get" id="viewForm">
                                <input type="text" name="" id="" value="{{this._id}}" style="display: none;">
                            </form>
                            <button type="button" class="btn btn-primary" id="{{this._id}}"
                                onclick='//window.location.href="/users/viewUser?id={{this._id}}"'>
                                View
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </table> --}}
                <nav aria-label="..." class="mt-3">
                    <ul class="pagination pagination-sm justify-content-center">
                        {{#previous usersgroup.page}}
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="../group/usersgroup?limit={{usersgroup.limit}}&page={{usersgroup.prevPage}}"
                                tabindex="-1">Previous</a>
                        </li>
                        {{else}}
                        <li class="page-item">
                            <a class="page-link"
                                href="../group/usersgroup?limit={{usersgroup.limit}}&page={{usersgroup.prevPage}}"
                                tabindex="-1">Previous</a>
                        </li>
                        {{/previous}}

                        {{#loop 1 usersgroup.totalPages 1}}
                        <li class="page-item"><a class="page-link"
                                href="../group/usersgroup?limit={{usersgroup.limit}}&page={{this}}">{{this}}
                            </a>
                        </li>
                        {{/loop}}

                        {{#next usersgroup.hasNextPage}}
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="../group/usersgroup?limit={{usersgroup.limit}}&page={{usersgroup.nextPage}}">Next</a>
                        </li>
                        {{else}}
                        <li class="page-item ">
                            <a class="page-link"
                                href="../group/usersgroup?limit={{usersgroup.limit}}&page={{usersgroup.nextPage}}">Next</a>
                        </li>
                        {{/next}}
                    </ul>
                </nav>
                {{/if}}

            </div>
        </div>
    </div>
</div>