<div class="row" style="height:100vh;">
    <div class="col-md-2 p-0 m-0" id="menu-bar">
        {{>userMenu}}
    </div>
    <div class="col-md-10 " id="main">
        <div class="row h-100" style="overflow-y:scroll;overflow-x:hidden;">
            <div class="col-12 p-0 m-0" id="main-top">
                {{>topnav}}
            </div>
            <div class="col-12 " id="main-bot" style="margin-top:-40px">
                <div class="row">
                    <div class="col-9" id="main-bot-left">
                        <div class="row d-flex justify-content-between">
                            <div class="col-4">
                                <div class=" info mx-2">
                                    <p class="" style="font-size: 1.1vw;">Total Registered</p>
                                    <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="d-flex align-items-center justify-content-center"
                                                style="font-size:1vw;">{{total.registered}}</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center total-icon" id="">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10.7726 5.48857C10.7726 7.05503 9.52385 8.31107 7.96645 8.31107C6.40904 8.31107 5.16025 7.05503 5.16025 5.48857C5.16025 3.92152 6.40904 2.66667 7.96645 2.66667C9.52385 2.66667 10.7726 3.92152 10.7726 5.48857ZM7.96641 13.3333C5.67896 13.3333 3.72578 12.9707 3.72578 11.5201C3.72578 10.0689 5.66642 9.69308 7.96641 9.69308C10.2539 9.69308 12.207 10.0557 12.207 11.5069C12.207 12.9575 10.2664 13.3333 7.96641 13.3333ZM11.9718 5.53949C11.9718 6.33803 11.7336 7.08193 11.3157 7.70034C11.2728 7.76399 11.311 7.84984 11.3868 7.86305C11.4912 7.88106 11.5993 7.89127 11.7091 7.89427C12.8045 7.92309 13.7876 7.21402 14.0592 6.1465C14.4616 4.56083 13.2802 3.13727 11.776 3.13727C11.6124 3.13727 11.456 3.15468 11.3038 3.1859C11.2829 3.1907 11.2608 3.20031 11.2489 3.21892C11.2346 3.24174 11.2453 3.27236 11.2596 3.29217C11.7115 3.9292 11.9718 4.70613 11.9718 5.53949ZM13.7859 9.00838C14.5219 9.15308 15.006 9.44848 15.2066 9.87777C15.3761 10.2302 15.3761 10.6391 15.2066 10.9909C14.8998 11.6568 13.9107 11.8705 13.5262 11.9257C13.4468 11.9378 13.383 11.8687 13.3913 11.7889C13.5877 9.94381 12.0255 9.06903 11.6214 8.86789C11.6041 8.85888 11.6005 8.84507 11.6023 8.83667C11.6035 8.83066 11.6107 8.82106 11.6238 8.81926C12.4983 8.80305 13.4385 8.92313 13.7859 9.00838ZM4.29167 7.89421C4.40151 7.89121 4.50895 7.88161 4.61401 7.86299C4.68983 7.84978 4.72803 7.76393 4.68505 7.70028C4.2672 7.08187 4.02902 6.33797 4.02902 5.53943C4.02902 4.70607 4.28928 3.92914 4.74116 3.29211C4.75549 3.2723 4.76564 3.24168 4.75191 3.21886C4.73997 3.20085 4.71728 3.19064 4.69699 3.18584C4.54417 3.15462 4.38778 3.13721 4.22422 3.13721C2.71994 3.13721 1.53861 4.56077 1.94154 6.14644C2.21314 7.21396 3.19629 7.92303 4.29167 7.89421ZM4.39828 8.83631C4.40008 8.84531 4.39649 8.85852 4.37978 8.86813C3.97506 9.06926 2.41288 9.94405 2.60927 11.7885C2.61763 11.869 2.55435 11.9374 2.47496 11.926C2.09053 11.8708 1.10141 11.657 0.794587 10.9912C0.624461 10.6387 0.624461 10.2304 0.794587 9.87801C0.995157 9.44872 1.47867 9.15332 2.2147 9.00802C2.56271 8.92337 3.50229 8.80329 4.37739 8.8195C4.39052 8.8213 4.39709 8.8309 4.39828 8.83631Z"
                                                    fill="#124814" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class=" info mx-2">
                                    <p class="" style="font-size: 1.1vw;">Total Events</p>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="d-flex align-items-center justify-content-center"
                                                style="font-size:1vw;">{{total.events}}</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center total-icon" id="">
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10.4532 1.94C10.4532 1.05333 11.1732 0.333328 12.0599 0.333328C12.9465 0.333328 13.6665 1.05333 13.6665 1.94C13.6665 2.82666 12.9465 3.54666 12.0599 3.54666C11.1732 3.54666 10.4532 2.82666 10.4532 1.94ZM7.88636 8.83953L9.81302 6.35353L9.78636 6.36686C9.89302 6.22019 9.91302 6.03353 9.83969 5.86686C9.76702 5.70019 9.60636 5.58686 9.43369 5.57353C9.25302 5.55353 9.07369 5.63353 8.96636 5.78019L7.35369 7.86686L5.50636 6.41353C5.39302 6.32686 5.25969 6.29286 5.12636 6.30686C4.99369 6.32686 4.87369 6.39953 4.79303 6.50619L2.82036 9.07353L2.77969 9.13353C2.66636 9.34619 2.71969 9.61953 2.91969 9.76686C3.01303 9.82686 3.11302 9.86686 3.22636 9.86686C3.38036 9.87353 3.52636 9.79286 3.61969 9.66686L5.29302 7.51286L7.19302 8.94019L7.25302 8.97953C7.46636 9.09286 7.73302 9.04019 7.88636 8.83953ZM9.29967 1.52019C9.27301 1.68686 9.25967 1.85353 9.25967 2.02019C9.25967 3.52019 10.473 4.73286 11.9663 4.73286C12.133 4.73286 12.293 4.71353 12.4597 4.68686V10.0662C12.4597 12.3269 11.1263 13.6669 8.85967 13.6669H3.93367C1.66634 13.6669 0.333008 12.3269 0.333008 10.0662V5.13353C0.333008 2.86686 1.66634 1.52019 3.93367 1.52019H9.29967Z"
                                                    fill="#124814" />
                                            </svg>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class=" info mx-2">
                                    <p class="" style="font-size: 1.1vw;">Registered today</p>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <d class="d-flex align-items-center justify-content-center">
                                            <p class="d-flex align-items-center justify-content-center"
                                                style="font-size:1vw;">{{total.registeredToday}}</p>
                                        </d>

                                        <div class="d-flex align-items-center justify-content-center total-icon" id="">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10.7726 5.48857C10.7726 7.05503 9.52385 8.31107 7.96645 8.31107C6.40904 8.31107 5.16025 7.05503 5.16025 5.48857C5.16025 3.92152 6.40904 2.66667 7.96645 2.66667C9.52385 2.66667 10.7726 3.92152 10.7726 5.48857ZM7.96641 13.3333C5.67896 13.3333 3.72578 12.9707 3.72578 11.5201C3.72578 10.0689 5.66642 9.69308 7.96641 9.69308C10.2539 9.69308 12.207 10.0557 12.207 11.5069C12.207 12.9575 10.2664 13.3333 7.96641 13.3333ZM11.9718 5.53949C11.9718 6.33803 11.7336 7.08193 11.3157 7.70034C11.2728 7.76399 11.311 7.84984 11.3868 7.86305C11.4912 7.88106 11.5993 7.89127 11.7091 7.89427C12.8045 7.92309 13.7876 7.21402 14.0592 6.1465C14.4616 4.56083 13.2802 3.13727 11.776 3.13727C11.6124 3.13727 11.456 3.15468 11.3038 3.1859C11.2829 3.1907 11.2608 3.20031 11.2489 3.21892C11.2346 3.24174 11.2453 3.27236 11.2596 3.29217C11.7115 3.9292 11.9718 4.70613 11.9718 5.53949ZM13.7859 9.00838C14.5219 9.15308 15.006 9.44848 15.2066 9.87777C15.3761 10.2302 15.3761 10.6391 15.2066 10.9909C14.8998 11.6568 13.9107 11.8705 13.5262 11.9257C13.4468 11.9378 13.383 11.8687 13.3913 11.7889C13.5877 9.94381 12.0255 9.06903 11.6214 8.86789C11.6041 8.85888 11.6005 8.84507 11.6023 8.83667C11.6035 8.83066 11.6107 8.82106 11.6238 8.81926C12.4983 8.80305 13.4385 8.92313 13.7859 9.00838ZM4.29167 7.89421C4.40151 7.89121 4.50895 7.88161 4.61401 7.86299C4.68983 7.84978 4.72803 7.76393 4.68505 7.70028C4.2672 7.08187 4.02902 6.33797 4.02902 5.53943C4.02902 4.70607 4.28928 3.92914 4.74116 3.29211C4.75549 3.2723 4.76564 3.24168 4.75191 3.21886C4.73997 3.20085 4.71728 3.19064 4.69699 3.18584C4.54417 3.15462 4.38778 3.13721 4.22422 3.13721C2.71994 3.13721 1.53861 4.56077 1.94154 6.14644C2.21314 7.21396 3.19629 7.92303 4.29167 7.89421ZM4.39828 8.83631C4.40008 8.84531 4.39649 8.85852 4.37978 8.86813C3.97506 9.06926 2.41288 9.94405 2.60927 11.7885C2.61763 11.869 2.55435 11.9374 2.47496 11.926C2.09053 11.8708 1.10141 11.657 0.794587 10.9912C0.624461 10.6387 0.624461 10.2304 0.794587 9.87801C0.995157 9.44872 1.47867 9.15332 2.2147 9.00802C2.56271 8.92337 3.50229 8.80329 4.37739 8.8195C4.39052 8.8213 4.39709 8.8309 4.39828 8.83631Z"
                                                    fill="#124814" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- STATISTICS SECTION BELOW --}}
                        <div class="row mt-5">
                            <div class="col-12  w-100" id="">
                                <div class="m-2" id="statistics">
                                    <h3><b style="padding-top: 10px;">Monthly Statistics</b></h3>
                                    <div class="row" id="statistic-chart">
                                        <div class="col-5" id="progressbar">
                                            <div class="row value justify-content-between p-3" id="">
                                                <div class="col-10 p-0">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <p class="progress-title mb-0 d-inline mr-5" id="" style="">
                                                            Total
                                                            registered</p>
                                                        <p class="percent ml-3" id="reg-percent" style="width:;">
                                                            {{total.percentageRegisteredCurrentMonth}}%
                                                        </p>
                                                    </div>
                                                    <div class="d" id="">
                                                        <div class="" id="reg-progress"
                                                            style="width:{{total.percentageRegisteredCurrentMonth}}%">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="p-1 stat-icons d-flex justify-content-center align-items-center"
                                                        id="" style="background-color: rgba(234, 0, 27, 0.02);">
                                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M18.8518 9.605C18.8518 12.3463 16.6664 14.5444 13.941 14.5444C11.2155 14.5444 9.03013 12.3463 9.03013 9.605C9.03013 6.86265 11.2155 4.66667 13.941 4.66667C16.6664 4.66667 18.8518 6.86265 18.8518 9.605ZM13.9408 23.3333C9.93778 23.3333 6.51973 22.6987 6.51973 20.1602C6.51973 17.6206 9.91584 16.9629 13.9408 16.9629C17.9439 16.9629 21.3619 17.5975 21.3619 20.1371C21.3619 22.6756 17.9658 23.3333 13.9408 23.3333ZM20.9504 9.6941C20.9504 11.0915 20.5336 12.3934 19.8023 13.4756C19.7271 13.587 19.794 13.7372 19.9267 13.7603C20.1095 13.7919 20.2985 13.8097 20.4908 13.815C22.4077 13.8654 24.1282 12.6245 24.6035 10.7564C25.3076 7.98144 23.2402 5.49022 20.6078 5.49022C20.3215 5.49022 20.0478 5.52069 19.7815 5.57532C19.7449 5.58373 19.7062 5.60054 19.6853 5.63311C19.6603 5.67304 19.6791 5.72663 19.7042 5.7613C20.4949 6.8761 20.9504 8.23572 20.9504 9.6941ZM24.1252 15.7647C25.4132 16.0179 26.2604 16.5348 26.6114 17.2861C26.9081 17.9029 26.9081 18.6184 26.6114 19.2341C26.0745 20.3993 24.3435 20.7734 23.6708 20.8701C23.5318 20.8911 23.4201 20.7702 23.4347 20.6305C23.7784 17.4017 21.0446 15.8708 20.3373 15.5188C20.3071 15.503 20.3008 15.4789 20.3039 15.4642C20.306 15.4537 20.3185 15.4368 20.3415 15.4337C21.8719 15.4053 23.5172 15.6155 24.1252 15.7647ZM7.51014 13.8149C7.70236 13.8096 7.89039 13.7928 8.07425 13.7602C8.20691 13.7371 8.27377 13.5869 8.19856 13.4755C7.46731 12.3933 7.0505 11.0914 7.0505 9.69399C7.0505 8.23561 7.50596 6.87599 8.29675 5.76119C8.32182 5.72652 8.33958 5.67293 8.31556 5.63301C8.29466 5.60148 8.25497 5.58362 8.21945 5.57522C7.95202 5.52058 7.67833 5.49011 7.3921 5.49011C4.75961 5.49011 2.69228 7.98134 3.39741 10.7563C3.87272 12.6244 5.59323 13.8653 7.51014 13.8149ZM7.69675 15.4635C7.69989 15.4793 7.69362 15.5024 7.66437 15.5192C6.95611 15.8712 4.22229 17.4021 4.56598 20.6299C4.5806 20.7707 4.46987 20.8904 4.33094 20.8705C3.65819 20.7738 1.92723 20.3998 1.39028 19.2345C1.09256 18.6178 1.09256 17.9033 1.39028 17.2865C1.74128 16.5353 2.58744 16.0183 3.87547 15.764C4.4845 15.6159 6.12875 15.4057 7.66019 15.4341C7.68317 15.4373 7.69466 15.4541 7.69675 15.4635Z"
                                                                fill="#34CF4D" />
                                                        </svg>

                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- --}}
                                            <div class="value d-flex flex-row justify-content-between" id="">
                                                <div class="col-10 p-0 ">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <p class="progress-title mb-0 d-inline" id=""
                                                            style="width:40vw;">Total
                                                            Events
                                                        </p>
                                                        <P class="percent mr-0" id="event-percent" style="width:;">
                                                            {{total.percentageEventCurrentMonth}}%
                                                        </P>
                                                    </div>
                                                    <div class="d" id="">
                                                        <div class="" id="event-progress"
                                                            style="width:{{total.percentageEventCurrentMonth}}%"></div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="stat-icons d-flex justify-content-center align-items-center"
                                                        id="" style="background-color: rgba(255, 199, 21, 0.05);">
                                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M20.0432 5.145C20.0432 3.59333 21.3032 2.33333 22.8549 2.33333C24.4066 2.33333 25.6666 3.59333 25.6666 5.145C25.6666 6.69666 24.4066 7.95666 22.8549 7.95666C21.3032 7.95666 20.0432 6.69666 20.0432 5.145ZM15.5514 17.2192L18.923 12.8687L18.8764 12.892C19.063 12.6353 19.098 12.3087 18.9697 12.017C18.8426 11.7253 18.5614 11.527 18.2592 11.5037C17.943 11.4687 17.6292 11.6087 17.4414 11.8653L14.6192 15.517L11.3864 12.9737C11.1881 12.822 10.9547 12.7625 10.7214 12.787C10.4892 12.822 10.2792 12.9492 10.1381 13.1358L6.68588 17.6287L6.61472 17.7337C6.41638 18.1058 6.50972 18.5842 6.85972 18.842C7.02305 18.947 7.19805 19.017 7.39638 19.017C7.66588 19.0287 7.92138 18.8875 8.08472 18.667L11.0131 14.8975L14.3381 17.3953L14.4431 17.4642C14.8164 17.6625 15.2831 17.5703 15.5514 17.2192ZM18.0247 4.41034C17.978 4.702 17.9547 4.99367 17.9547 5.28534C17.9547 7.91034 20.078 10.0325 22.6913 10.0325C22.983 10.0325 23.263 9.99867 23.5547 9.952V19.3658C23.5547 23.322 21.2213 25.667 17.2547 25.667H8.63417C4.66634 25.667 2.33301 23.322 2.33301 19.3658V10.7337C2.33301 6.767 4.66634 4.41034 8.63417 4.41034H18.0247Z"
                                                                fill="#E0CA3C" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- --}}
                                            <div class="value d-flex flex-row justify-content-between mt-3" id="">
                                                <div class="col-10 p-0">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <p class="progress-title mb-0 d-inline mr-5" id=""
                                                            style="width:40vw">
                                                            Fund a course</p>
                                                        <p class="percent" id="fund-percent" style="width:100%">
                                                        </p>{{total.percentageFunded}}%</p>
                                                    </div>
                                                    <div class="d" id="">
                                                        <div class="" id="fund-progress"
                                                            style="width:{{total.percentageFunded}}%">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="stat-icons d-flex justify-content-center align-items-center"
                                                        id="" style="background-color: rgba(239, 239, 250, 0.22);">
                                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M21.4049 11.7698C21.4043 11.764 21.4039 11.7581 21.4032 11.7524C21.3995 11.7238 21.3946 11.6953 21.3877 11.6671C21.3876 11.6669 21.3875 11.6666 21.3874 11.6662C21.381 11.6399 21.3727 11.614 21.3634 11.5883C21.3608 11.5809 21.3579 11.5738 21.355 11.5666C21.3477 11.5481 21.3395 11.5298 21.3306 11.5119C21.3268 11.504 21.323 11.4962 21.3188 11.4885C21.3166 11.4843 21.3148 11.48 21.3125 11.4758C21.3031 11.4592 21.2929 11.4435 21.2825 11.428C21.2805 11.4251 21.2789 11.4221 21.277 11.4193C21.2611 11.3964 21.244 11.3751 21.2261 11.3549C21.2227 11.3511 21.2191 11.3475 21.2156 11.3439C21.2 11.3271 21.1838 11.3114 21.167 11.2966C21.1627 11.2929 21.1585 11.2891 21.1541 11.2855C21.1315 11.2668 21.1083 11.2494 21.084 11.2344L11.7513 5.31028L17.1248 1.53172L26.1333 7.24986L22.3393 9.91772C22.0432 10.1258 21.9543 10.5627 22.1408 10.8932C22.3271 11.2239 22.7183 11.3231 23.0143 11.1149L27.7037 7.81749C27.8923 7.68499 28.0046 7.45162 27.9995 7.20289C27.9945 6.95416 27.8729 6.7268 27.6792 6.60385L17.4211 0.0924181C17.2182 -0.0364722 16.9682 -0.0301055 16.7705 0.108759L10.1851 4.73954C10.1838 4.74046 10.1824 4.74145 10.1811 4.74237L6.89033 7.05639C6.88881 7.05745 6.88729 7.05851 6.88583 7.05957L0.295936 11.6935C0.107413 11.826 -0.00490332 12.0594 0.000164513 12.3081C0.005169 12.5569 0.126734 12.7842 0.320452 12.9072L10.5786 19.4186C10.6758 19.4804 10.7838 19.5111 10.8916 19.5111C11.009 19.5111 11.1262 19.4746 11.2292 19.4023L15.9186 16.1047C16.2146 15.8966 16.3035 15.4598 16.1171 15.1292C15.9308 14.7986 15.5395 14.6993 15.2435 14.9075L10.875 17.9794L1.86646 12.2611L7.24001 8.48246L16.848 14.5812V22.6585C16.848 22.9162 16.9734 23.1534 17.1753 23.2779C17.2708 23.3367 17.3762 23.366 17.4815 23.366C17.5989 23.366 17.7161 23.3295 17.819 23.2572L21.114 20.9402C21.2982 20.8107 21.4099 20.5846 21.4099 20.3416V11.8526C21.4099 11.8485 21.4093 11.8445 21.4092 11.8403C21.4088 11.8168 21.4074 11.7934 21.4049 11.7698ZM18.115 21.3772V14.1697C18.115 13.9152 17.9926 13.6804 17.7945 13.5547L8.45629 7.62727L10.5349 6.16554L19.5434 11.8838L18.7546 12.4384C18.4585 12.6465 18.3697 13.0833 18.5561 13.4139C18.6765 13.6275 18.8823 13.7445 19.0928 13.7445C19.2081 13.7445 19.3249 13.7093 19.4297 13.6356L20.1429 13.1341V19.9511L18.115 21.3772Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M27.0284 9.44983L22.339 12.7473C22.0429 12.9554 21.954 13.3922 22.1405 13.7228C22.2608 13.9364 22.4667 14.0534 22.6772 14.0534C22.7925 14.0534 22.9093 14.0182 23.014 13.9445L27.7034 10.6471C27.9995 10.4389 28.0884 10.0021 27.902 9.67154C27.7156 9.34089 27.3244 9.24157 27.0284 9.44983Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M15.2436 17.7371L10.8751 20.809L0.946615 14.5068C0.642671 14.3139 0.255742 14.4324 0.0828655 14.7723C-0.090011 15.1119 0.0163502 15.5438 0.320547 15.7368L10.5787 22.2483C10.6759 22.31 10.7839 22.3407 10.8917 22.3407C11.0091 22.3407 11.1263 22.3043 11.2293 22.2319L15.9186 18.9344C16.2147 18.7263 16.3036 18.2894 16.1172 17.9589C15.9309 17.6282 15.5396 17.5288 15.2436 17.7371Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M27.0284 12.2795L22.339 15.5769C22.0429 15.785 21.954 16.2219 22.1405 16.5524C22.2608 16.7661 22.4667 16.883 22.6772 16.883C22.7925 16.883 22.9093 16.8479 23.014 16.7741L27.7034 13.4767C27.9995 13.2686 28.0884 12.8317 27.902 12.5012C27.7156 12.1705 27.3244 12.0712 27.0284 12.2795Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M15.2436 20.5667L10.8751 23.6386L0.946615 17.3365C0.642671 17.1435 0.255742 17.2621 0.0828655 17.6019C-0.090011 17.9415 0.0163502 18.3734 0.320547 18.5665L10.5787 25.0779C10.6759 25.1397 10.7839 25.1704 10.8917 25.1704C11.0091 25.1704 11.1263 25.1339 11.2293 25.0616L15.9186 21.764C16.2147 21.5559 16.3036 21.1191 16.1172 20.7885C15.9309 20.4577 15.5396 20.3585 15.2436 20.5667Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M27.0284 15.1091L22.339 18.4066C22.0429 18.6147 21.954 19.0515 22.1405 19.3821C22.2608 19.5957 22.4667 19.7127 22.6772 19.7127C22.7925 19.7127 22.9093 19.6775 23.014 19.6038L27.7034 16.3064C27.9995 16.0982 28.0884 15.6614 27.902 15.3308C27.7156 15.0002 27.3244 14.9009 27.0284 15.1091Z"
                                                                fill="#0099DF" />
                                                            <path
                                                                d="M15.2436 23.3964L10.8751 26.4683L0.946615 20.1661C0.642671 19.9732 0.255742 20.0917 0.0828655 20.4316C-0.090011 20.7712 0.0163502 21.2031 0.320547 21.3961L10.5787 27.9076C10.6759 27.9693 10.7839 28 10.8917 28C11.0091 28 11.1263 27.9636 11.2293 27.8912L15.9186 24.5937C16.2147 24.3856 16.3036 23.9487 16.1172 23.6182C15.9309 23.2875 15.5396 23.1881 15.2436 23.3964Z"
                                                                fill="#0099DF" />
                                                        </svg>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7" id="chart"
                                            style="position: relative; height:20vh; width:80vw">
                                            <canvas id="myChart" width="1" height="1" style="height:150px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3" id="main-bot-right">
                        {{>right}}
                        <div class="mt-4">
                            <form>

                                <input type="text" class="" style="display:none" value="{{user.email}}" id="email">
                                <input type="text" class="" style="display:none" value="{{user.phone}}" id="phone">
                                <input type="text" class="" style="display:none"
                                    value="{{user.firstname}} {{user.lastname}}" id="fullname">

                                <button class="btn-white-1" type="button" onClick="makePayment();"
                                    style="height:40px;width:vw;font-size:1vw;background: #eeea15;color:#000;border:none">Pay
                                    Membership
                                    Subscription</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{!-- <form action="savePayment" method="POST" class="" id="flutter_response">
        <input type="text" id="amount" style="display: none;">
        <input type="text" id="flw_ref" style="display: none;">
        <input type="text" id="tx_ref" style="display: none;">
        <input type="text" id="transaction_id" style="display: none;">
    </form> --}}
    <input type="text" id="UserId" style="display: none;" value="{{user._id}}">

</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let myChart = document.getElementById('myChart');
    const email = document.getElementById('email').value;
    const fullname = document.getElementById('fullname').value;
    const phone = document.getElementById('phone').value;
    const userId = document.getElementById('UserId').value;
    let transferRef = "subscribe-"

    /*async function checkResult = result => {
         const data = await axios.get("http://127.0.0.1:3002/payments/getPayments").then((err,res) => {
            if(err){
                console.log(err)
            }
            data.forEach(el => {
                if(result === data.)
            })
            return res
        })
        if()
    }*/

    /*function generateRef() {
        let prefix = "hooli-tx-"

        const count = 9;
        for (let i = 0; i < count; i++) {
            const possibleLetters = "abcdefghijklmnopqstuvwxyz1234567890"
            prefix += possibleLetters.charAt(Math.floor(Math.random() * possibleLetters.length));
        }
    }*/

    let massPopChart = new Chart(myChart, {
        type: 'line',
        data: {
            labels: ['', '', ''],
            datasets: [{
                label: 'Population',
                data: [],
                borderColor: "#124814"
            }]
        },
        options: {
            maintainAspectRatio: false,
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    stacked: true,
                    gridLines: {
                        display: true,
                        color: "#12481411"
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }]
            }
        }
    })

    function makePayment() {
        //console.log("transferRef === ", transferRef)
        FlutterwaveCheckout({
            public_key: "FLWPUBK_TEST-ca0523b9912952630c7ac39073a8b0e6-X",
            tx_ref: transferRef + generated,
            amount: 2000,
            currency: "NGN",
            country: "NG",
            payment_options: "card, ussd",
            redirect_url: // specified redirect URL
                "http://127.0.0.1:3002/payment/savePayment",
            meta: {
                consumer_id: userId,
                //consumer_mac: "92a3-912ba-1192a",
            },
            customer: {
                email: email,
                phone_number: phone,
                name: fullname,
            },
            callback: function (data) {
                //console.log(data);
            },
            onclose: function () {
                // console.log("I am data = ", data)
            },
            customizations: {
                title: "My store",
                description: "Payment for items in cart",
                logo: "https://assets.piedpiper.com/logo.png",
            },
        });
    }

    function generateRandomCharacter(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        //var charactersLength = characters.length;

        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return result;
    }
    let generated = generateRandomCharacter(20);

</script>